/* Global */
/* ------------------------------------ */
@import "global/_normalize";
@import "global/_fonts";
@import "global/_variables";
@import "global/_mixins";
@import "global/_reboot";
@import "global/_container";
@import "global/_visually-hidden";

/* Blocks */
/* ------------------------------------ */
@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_city-park";
@import "blocks/_poster-block";
@import "blocks/_poster-text";
@import "blocks/_poster-list";
@import "blocks/_advantages";
@import "blocks/_information";
@import "blocks/_information-secondary";
@import "blocks/_socials";
@import "blocks/_footer";
