*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $color-rustic-red;
  color: $color-white;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  font-family: $ff-roboto;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 120px;

  @include vp-1023{
    gap: 80px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: $color-black;
  text-decoration: none;
}
