.advantages {

    @include vp-1023{
        .container{
            padding: 0 20px;
        }
    }

    &__heading {
        font-family:$ff-tenor;
        color: $color-fallow;
        font-weight: 400;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.08em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 120px;
        padding: 0;

        &-span{
            display: block;
        }

        @include vp-1023{
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 80px;
        }
    }

    &__image{
        width: 100%;
        height: 740px;

        @include vp-1023{
            height: 460px;
        }
    }
}