.advantages {

    &__heading {
        font-family:$ff-tenor;
        color: $color-fallow;
        font-weight: 400;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: 0.08em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 120px;
    }
}