.benefit {

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__heading {
        font-family: $ff-tenor;
        font-weight: 400;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: $color-fallow;
        max-width: 400px;
        margin: 0;

        @include vp-1023{
            font-size: 24px;
            line-height: 30px;
            max-width: 230px;
        }
    }

    &__text {
        font-family: $ff-roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        max-width: 400px;
        margin: 0;

        @include vp-1023{
            font-size: 14px;
            line-height: 20px;
            max-width: 230px;
        }
    }

    &__set {
        display: flex;
        min-height: 800px;
        max-width: 1280px;
        gap: 84px;

        @include vp-1023{
            gap: 18px;
            min-height: 460px;
        }

        &-block{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 700px 1fr;
            gap: 20px;

            @include vp-1023{
                grid-template-rows: 400px 1fr;
            }
        }
    }

    &__desc {
        font-family:$ff-tenor;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.08em;
        text-align: center;
        text-transform: uppercase;
        color: $color-fallow;
        max-width: 400px;
        margin: 0 auto;

        @include vp-1023{
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__set-block:first-child &__desc{
        padding: 0 30px;
    }
}