.btn-request{
    border-radius: 0 40px 0 40px;
    background-color: transparent;
    padding: 17px 38px;
    max-width: 220px;
    border: 1px solid $color-fallow;
    color: $color-fallow;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    font-family: $ff-roboto;
}