.city-park{
    min-height: 600px;

    @include vp-1023{

        min-height: 350px;
        
        .container{
            padding: 0;
        }
    }

    &__blocks{
        display: flex;

        @include vp-1023{
            display: grid;
            grid-template-columns: repeat(2,350px);
        }
    }

    

}