.grade-size {
    padding: 0 10px;
    
    @include vp-1023{
        padding-left: 5px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 65px;

        @include vp-1023{
            gap: 44px;
        }
    }

    

    &__line {
        position: relative;
        display: flex;
        width: 500px;
        height: 1px;
        background-color: $color-fallow;
        padding: 0;
        margin-bottom: 55px;
       

        @include vp-1023{
            width: 255px;
            margin-bottom: 40px;
        }


        &--right{


        }

        &--right .grade-size__arrow{
            top: -4px;
            right: -15px;
            left: unset;
        }
    }

    &__arrow {
        position: absolute;
        width: 11px;
        height: 10px;
        left: 0;
        top: -4px;
        transform: translateX(-50%);
    }


    &__middle {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        gap: 85px;

        @include vp-1023{
            gap: 30px;
        }

        &-block{
            display: flex;
            flex-direction: column;
            gap: 30px;

            @include vp-1023{
                gap: 20px;
            }
        }
    }

    &__text {
        display: flex;
        align-items: flex-end;
        font-family: $ff-tenor;
        font-weight: 400;
        font-size: 140px;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        color: $color-fallow;
        gap: 15px;
        padding-left: 5px;

        @include vp-1023{
            font-size: 90px;
            line-height: 70px;
            align-items: center;
            gap: 6px;
            padding-left: 15px;
        }

        &-min {
            font-size: 34px;
            line-height: 44px;
            letter-spacing: 0;
            

            @include vp-1023{
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 10px;
            }
        }
    }

    &__desc {
        font-family: $ff-roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        text-align: center;

        @include vp-1023{
            font-size: 14px;
            line-height: 20px;
            width: 143px;
        }
    }

}