.hero {
    position: relative;
    width: 100%;
    min-height: 740px;
    padding: 0;

    @include vp-1023{
        min-height: 460px;
    }

    &__header {
        position: absolute;
        font-family: $ff-tenor;
        max-width: 800px;
        width: 100%;
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: -0.08em;
        text-align: center;
        text-transform: uppercase;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;

        @include vp-1023{
            max-width: 520px;
            font-size: 40px;
            line-height: 46px;
        }
    }

    &__img-wrapper {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, $color-black-0 0%, $color-black-0 69.07%, $color-black-100 100%);

        }
    }


    &__image {
        width: 100%;
        min-height: 740px;

        @include vp-1023{
            min-height: 460px;
        }
    }





}