.hero{
    position: relative;
    width: 100%;
    min-height: 740px;
    padding: 0;

    &__header{
        position: absolute;
        font-family: $ff-tenor;
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: -0.08em;
        text-align: center;
        text-transform: uppercase;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__img-wrapper{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top:0;
    }

    &__image{
        width: 100%;
        min-height: 740px;
    }




}