.information-secondary {


    &__blocks {
        display: flex;
        gap: 173px;
    }

    &__text-block {
        max-width: 480px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__heading {
        font-weight: 400;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: $color-fallow;
        font-family: $ff-tenor;
    }

    &__text-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        margin: 0;
        padding: 0;
    }


}