.luxury {

    &__wrapper{
        display: flex;
        max-width: 1368px;
        
        gap: 85px;

        @include vp-1023{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 460px;
            margin: 0 auto;
            gap: 40px;
        }
    }


    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 35%;

        @include vp-1023{
            width: 100%;
            align-items: center;
        }


    }

    &__right{
        display: grid;
        grid-template-columns: repeat(2,400px);
        width: 65%;
        min-height: 700px;

         @media (max-width:1580px){
            grid-template-columns: repeat(2,350px);
        }

        @media (max-width:1400px){
            grid-template-columns: repeat(2,300px);
        }


         @media (max-width:1300px){
            grid-template-columns: repeat(2,250px);
        }

        @media (max-width:1200px){
            grid-template-columns: repeat(2,200px);
        }

        @include vp-1023{
            display: flex;
            width: 100%;
            min-height: 410px;
        }
    }

    &__heading {
        font-family: $ff-tenor;
        font-weight: 400;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: $color-fallow;
        margin: 0 0 30px;

        @include vp-1023{
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 20px;
            max-width: 340px;
            text-align: center;
        }
    }

    &__text {
        font-family: $ff-roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        margin: 0 0 40px;

        @include vp-1023{
            font-size: 14px;
            line-height: 20px;
            max-width: 340px;
            text-align: center;
            margin-bottom: 18px;
        }
    }


}