.poster-text{
    width: 456px;
    min-height: 600px;
    border-radius:  600px 600px 0 0;
    border: 1px solid $color-fallow;
    border-bottom:  0;
    

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 92px 0;
    }

    &__logo{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;

        &-text{
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: $color-fallow;
        }
    }

    &__elements{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__heading{
        font-family: $ff-tenor;
        font-weight: 400;
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -0.08em;
        width: 380px;
        text-align: center;
        text-transform: uppercase;
    }

    &__little-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}