.poster-text {
    width: 100%;
    min-height: 600px;
    border-radius: 600px 600px 0 0;
    border: 1px solid $color-fallow;
    border-bottom: 0;

    @include vp-1023{
        min-height: 350px;
    }


    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 92px 0;

        &--xl {
            padding: 241px 70px;
        }

        @include vp-1023{
            padding: 42px 0;
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin-bottom: 10px;

        @include vp-1023{
            gap: 20px;
        }

        &-text {
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: $color-fallow;

            @include vp-1023{
                font-size: 14px;
                line-height: 20px;
            }
        }

        &-icon{
            @include vp-1023{
                width: 62px;
                height: 86px;
            }
        }
    }

    &__elements {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include vp-1023{
            gap: 20px;
        }
    }

    &__heading {
        font-family: $ff-tenor;
        font-weight: 400;
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -0.08em;
        width: 380px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;

        @include vp-1023{
            font-size: 28px;
            line-height: 32px;
            width: 240px;
        }
    }


    &__flat-text {
        font-family:$ff-tenor;
        font-weight: 400;
        font-size: 140px;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: center;
        text-transform: uppercase;
        color: $color-fallow;
        margin-bottom: 40px;
    }

    &__desc {
        font-family: $ff-tenor;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.08em;
        color: $color-fallow;
        text-align: center;
        text-transform: uppercase;
        max-width: 200px;
        margin: 0;
    }

    &__little-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    &__little-text {
        font-size: 18px;
        line-height: 26px;

        @include vp-1023{
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__little-icon{
        width: 13px;
        height: 18px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        max-width: 92px;
        list-style: none;
        padding: 100px 0 58px;
        margin: 0 auto;
    }

    &__block {
        display: flex;
        align-items: center;
        flex-direction: column;

        &-top {
            font-family: $ff-tenor;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            text-transform: uppercase;
            color: $color-fallow;
            display: flex;
            align-items: end;
            justify-content:center;
            gap: 12px;
            margin: 0 0 10px;
            &-min {
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
            }
        }


        &-bottom {
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            width: 192px;
            text-align: center;
        }
    }
}